* {
    margin: none;
    padding: none;
    box-sizing: border-box;
}

.div_teste {
    margin: 10px 7px 20px 15px;
    display: flex;
}

.container_mother_one {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.container_mother_two {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.container_father {
    display: flex;
    flex-direction: row;
}

.container_one {
    border: 2px #000 solid;
    height: 700px;
    width: 100%;
    margin-bottom: 40px;
}

.container_two {
    border: 2px #000 solid;
    height: 300px;
    width: 50%;
}

.container_two + .container_two {
    margin-left: 40px;
}

.container_three {
    border: 2px #000 solid;
    height: 700px;
    width: 100%;
    margin-bottom: 40px;
}

.container_four {
    border: 2px #000 solid;
    height: 300px;
    width: 100%;
}

.container_final {
    border: 2px #000 solid;
    height: 200px;
    width: 100%;
}

.div_teste_2 {
    margin: 0 7px 0 15px;
}